.cor-de-fundo-par {
    background-color: aqua;
}

.cor-de-fundo-impar {
    background-color: bisque;
}

.primeira-diciplina {
    color: red;
    font-weight: bold;
}

.ultima-diciplina {
    border: 2px solid black;
}
