.status-planejamento {
  color: gray;
}

.status-desenvolvimento {
  color: blue;
}

.status-testes {
  color: orange;
}

.status-concluido {
  color: green;
}

.destaque-aprovado {
  font-weight: bold;
}
